body {
    font-family: 'Open Sans', sans-serif;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#050737), color-stop(#002350), color-stop(#00364e), color-stop(#004635), to(#09530c));
    background-image: -o-linear-gradient(left top, #050737, #002350, #00364e, #004635, #09530c);
    background-image: linear-gradient(to right bottom, #050737, #002350, #00364e, #004635, #09530c);
    background-repeat: no-repeat;
    color: white;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100vw;
    background-image: -webkit-gradient(linear, left top, right top, from(#040a3a), color-stop(#001842), color-stop(#002347), color-stop(#002c4b), to(#00364e));
    background-image: -o-linear-gradient(left, #040a3a, #001842, #002347, #002c4b, #00364e);
    background-image: linear-gradient(to right, #040a3a, #001842, #002347, #002c4b, #00364e);
    height: 60px;
    -webkit-box-shadow: 2px 4px 14px 0px rgba(0, 32, 78, 1);
    box-shadow: 2px 4px 14px 0px rgba(0, 32, 78, 1);
    z-index: 1000;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header__logo {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    z-index: 1000;
    height: 50px;
}

.header__link {
    display: block;
    text-decoration: none;
    color: white;
}

.logo__image {
    height: 60px;
}

.logo__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.logo__name {
    font-size: 20px;
    padding: 3px;
}

.logo__name--small {
    font-size: 15px;
}

.header__hamburger {
    z-index: 1000;
    position: absolute;
    right: 10px;
}

.header__hamburger i {
    font-size: 40px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: 1px 1px 2px;

}

.header__navigation {
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;

}

.header__navigation::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(4, 10, 58, 0.95)), color-stop(rgba(0, 24, 66, 0.95)), color-stop(rgba(0, 35, 71, 0.95)), color-stop(rgba(0, 44, 75, 0.95)), to(rgba(0, 54, 78, 0.95)));
    background-image: -o-linear-gradient(left, rgba(4, 10, 58, 0.95), rgba(0, 24, 66, 0.95), rgba(0, 35, 71, 0.95), rgba(0, 44, 75, 0.95), rgba(0, 54, 78, 0.95));
    background-image: linear-gradient(to right, rgba(4, 10, 58, 0.95), rgba(0, 24, 66, 0.95), rgba(0, 35, 71, 0.95), rgba(0, 44, 75, 0.95), rgba(0, 54, 78, 0.95));
    z-index: -1;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -webkit-box-shadow: 2px 4px 14px 0px rgba(0, 32, 78, 1);
    box-shadow: 2px 4px 14px 0px rgba(0, 32, 78, 1);
}

.navigation__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.navigation__element {
    width: 100%;
}

.navigation__link {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.navigation__element--with-submenu {
    position: relative;
}

.navigation__submenu {
    list-style: none;
}


.btnGoTop {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 5vh;
    right: 20vw;
    color: white;
    font-size: 20px;
    background-color: rgba(4, 10, 58, 0.95);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(4, 10, 58, 0.95)), color-stop(rgba(0, 24, 66, 0.95)), color-stop(rgba(0, 35, 71, 0.95)), color-stop(rgba(0, 44, 75, 0.95)), to(rgba(0, 54, 78, 0.95)));
    background-image: -o-linear-gradient(left, rgba(4, 10, 58, 0.95), rgba(0, 24, 66, 0.95), rgba(0, 35, 71, 0.95), rgba(0, 44, 75, 0.95), rgba(0, 54, 78, 0.95));
    background-image: linear-gradient(to right, rgba(4, 10, 58, 0.95), rgba(0, 24, 66, 0.95), rgba(0, 35, 71, 0.95), rgba(0, 44, 75, 0.95), rgba(0, 54, 78, 0.95));
    -webkit-box-shadow: 2px 4px 14px 0px rgba(0, 32, 78, 1);
    box-shadow: 2px 4px 14px 0px rgba(0, 32, 78, 1);
}

.content__title--main {
    text-align: center;
    line-height: 100vh;
}

.content {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: calc(100vh - 82px);
}


.home__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

.header__img {
    display: flex;
    width: 100%;

}

.home__image {
    width: 40%;
    min-width: 100px;
    height: auto;
    max-width: 300px;
    margin: 0 10px 10px 10px;
    -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 1);
}

.home__animation {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6rem;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.home__icons {
    width: 100%;
    text-align: center;
}


.home__line {
    width: 100%;
    color: rgba(255, 255, 255, 0.3);
    ;
    margin: 50px auto;
}

.home__icon {
    color: white;
    font-size: 50px;
    margin: 20px;
}

.cursor {
    display: inline-block;
    background-color: #fff;
    width: 5px;
    height: 1.3rem;
    -webkit-animation: cursorAnimation 1s ease infinite;
    animation: cursorAnimation 1s ease infinite;
}

.cursor__surname {
    display: none;
}

.home__articles {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
}

.home__paragraph {
    text-indent: 30px;
    line-height: 30px;
    padding-bottom: 10px;
}

.page__footer {
    background-image: -webkit-gradient(linear, left top, right top, from(#040a3a), color-stop(#001842), color-stop(#002347), color-stop(#002c4b), to(#00364e));
    background-image: -o-linear-gradient(left, #040a3a, #001842, #002347, #002c4b, #00364e);
    background-image: linear-gradient(to right, #040a3a, #001842, #002347, #002c4b, #00364e);
    -webkit-box-shadow: 2px 4px 14px 0px rgba(0, 32, 78, 1);
    box-shadow: 2px 4px 14px 0px rgba(0, 32, 78, 1);
}

.footer__contact,
.page__footer,
.footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer__text {
    color: white;
    text-decoration: none;
}

.page__footer p {
    padding: 20px;
}

.home__icon--github {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer__link:last-child {
    padding-bottom: 50px;
}

p.footer__copyright {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

@-webkit-keyframes cursorAnimation {
    0% {
        background-color: #fff;
    }

    50% {
        background-color: #fff;
    }

    50.01% {
        background-color: transparent;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes cursorAnimation {
    0% {
        background-color: #fff;
    }

    50% {
        background-color: #fff;
    }

    50.01% {
        background-color: transparent;
    }

    100% {
        background-color: transparent;
    }
}

@media (orientation: landscape) {
    .header__navigation {
        height: calc(100vh - 60px);
    }

    .navigation__element {
        height: 15%;
        max-height: calc(100vh - 60px);
    }

    .navigation__link {
        padding: 1%;
    }
}

@media (min-width: 682px) {

    .header {
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: 100px;
        left: 0;
    }

    .header__hamburger {
        display: none;
    }

    .header__logo {
        position: static;
        width: 250px;
        height: 100%;
    }

    .logo__text {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .logo__name {
        font-size: 20px;
        padding: 3px;
    }

    .logo__name--small {
        font-size: 13px;
        padding: 3px;
    }

    .logo__image {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

    .header__navigation {
        position: static;
        height: 100px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .header__navigation::before {
        display: none;
    }

    .navigation__list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }

    .navigation__element {
        height: auto;
        width: 100%;
        text-align: center;
        /* box-shadow: 1px 0 0 0; */
    }

    .navigation__link {
        display: block;
        width: 100%;
        font-size: 15px;
        line-height: 100px;

    }

    .content {
        padding-top: 100px;
    }

    .navigation__element--with-submenu {
        position: relative;
    }

    .navigation__submenu {
        position: absolute;
        top: 90px;
        width: 90%;
        background-color: #00314d;
        -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 32, 78, 1);
        box-shadow: 0px 4px 14px 0px rgba(0, 32, 78, 1);

    }

    .navigation__link--submenu {
        font-size: 13px;
        line-height: 15px;
        padding: 15px;
    }



    .home__image {
        float: left;
    }


    .home__paragraph {
        text-indent: 30px;
        line-height: 30px;
    }

    .home__name,
    .home__surname {
        font-size: 60px;
    }

    .cursor {
        height: 50px;
    }



}

@media (min-width: 1178px) {
    .header__logo {
        position: static;
        width: 320px;
        height: 100%;
    }

    .logo__name {
        font-size: 25px;
    }

    .logo__name--small {
        font-size: 20px;
    }

    .navigation__link {
        font-size: 20px;
    }

    .navigation__link--submenu {
        font-size: 15px;
    }

    .footer__link {
        margin: 50px;
        width: 33%;
    }

    .footer__contact {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100%;
        max-width: 1280px;
    }

    .footer__link:last-child {
        padding-bottom: 0;
    }
}