body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.header {
    position: fixed;
    width: 100%;
    background-color: white;
}
.header__logo {
    box-sizing: border-box;
    float: left;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    z-index: 1000;
    height: 50px;
}
.header__hamburger {
    float: right;
    z-index: 1000;
}
.header__hamburger i {
    font-size: 40px;
    padding: 10px;
    box-sizing: border-box;
}
.header__navigation {
    height: 70vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: gray;
}
.navigation__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navigation__element {
    height: 15%;
}
.navigation__link {
    text-decoration: none;
    color: black;
}
.btnGoTop {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    bottom: 5vh;
    right: 20vw;
    box-shadow: 1px 1px 1px 1px gray;
}
.content__title--main {
    height: 100vh;
    text-align: center;
    line-height: 100vh;
}
.content {
    padding-top: 60px;
    min-height: calc(100vh - 82px);
}

@media (orientation: landscape) {
    .header__navigation {
        height: calc(100vh - 60px);
    }
    .navigation__element {
        height: 15%;
    }
}
@media (min-width: 552px) {
    .header {
        position: static;
        display: flex;
        flex-direction: column;
    }
    .header__hamburger {
        display: none;
    }
    .header__navigation {
        position: static;
        height: 50px;
        flex-direction: row;
    }
    .navigation__list {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .navigation__element {
        height: auto;
        width: 100%;
        text-align: center;
    }
    .navigation__link {
        display: block;
        width: 100%;
    }
    .content {
        padding-top: 30px;
    }
}











