/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

.portfolio__github-icon {
    font-size: 80px;
    color: white;
}

.portfolio__title {
    padding: 20px;
    text-align: center;
}

.portfolio__title-github {
    font-size: 20px;
}

.portfolio__title--article {
    font-size: 20px;
}

.portfolio__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.portfolio__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    color: white
}

.portfolio__image {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    -webkit-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 1);
}

.portfolio__list {
    padding-left: 40px;
    list-style-type: circle;
}

.portfolio__description {
    padding: 20px;
    text-indent: 30px;
    line-height: 30px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 1000px) {
    .portfolio__article-area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .portfolio__article {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .line--portfolio {
        display: block;
    }
}